/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 juin 2019, 14:17:49
    Author     : pierr
*/

#Blanc{
    background-color: white;
}

#Bleu{
    background-color: blue;
}

#Gris{
    background-color: grey;
}

#Jaune{
    background-color: yellow;
}

#Marron{
    background-color: brown;
}

#Noir{
    background-color: black;
    color: white;
}

#Orange{
    background-color: orange;
}

#Rouge{
    background-color: red;
}

#Vert{
    background-color: green;
}

#Violet{
    background-color: violet;
}

